.modal--map .modal-dialog {
    width: 980px;
}

.modal--map .modal-content {
    padding-top: 0;
    overflow: hidden;
}

.modal--map .modal-body {
    padding: 30px 30px 20px 10px;
}

.ymap {
    display: block;
    position: relative;
    min-height: 300px;
    overflow: hidden;
}

.ymap__container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.ymap__control {
    position: absolute;
    z-index: 10;
}

.ymap__control--zoom {
    bottom: 30px;
    left: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.ymap__control--zoom .ymap__zoom {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.ymap__control--zoom .ymap__zoom--in {
    border-bottom: 1px solid #e6ecf2;
}

.ymap__control--zoom .ymap__zoom:before,
.ymap__control--zoom .ymap__zoom--in:after {
    content: '';
    position: absolute;
    background: #afb7b7;
}

.ymap__control--zoom .ymap__zoom:hover:before,
.ymap__control--zoom .ymap__zoom--in:hover:after {
    background: #38b86f;
}

.ymap__control--zoom .ymap__zoom:before {
    width: 18px;
    height: 2px;
    left: calc(50% - 9px);
    top: calc(50% - 1px);
}

.ymap__control--zoom .ymap__zoom--in:after {
    height: 18px;
    width: 2px;
    top: calc(50% - 9px);
    left: calc(50% - 1px);
}

.ymap .balloon {
    display: block;
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    color: #7f8c8d;
    line-height: 20px;
    left: -40px;
    bottom: 10px;
    background: #fff;
    width: 320px;
    border-radius: 8px;
    padding: 20px 50px 50px 30px;
    font-family: 'Ubuntu', 'sans-serif';
    -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 8px 10px rgba(0, 0, 0, .2);
}

.ymap .balloon > .balloon__close {
    display: block;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 14px;
    z-index: 100;
}

.ymap .balloon > .balloon__close:hover {
    cursor: pointer;
}

.ymap .balloon > .balloon__close:before,
.ymap .balloon > .balloon__close:after {
    background: #96a6a7;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ymap .balloon > .balloon__close:hover:before,
.ymap .balloon > .balloon__close:hover:after {
    background: #282828;
}

.ymap .balloon > .balloon__close:before {
    left: 0;
    height: 2px;
    margin-top: -1px;
    top: 50%;
    width: 100%;
}

.ymap .balloon > .balloon__close:after {
    left: 50%;
    height: 100%;
    margin-left: -1px;
    top: 0;
    width: 2px;
}

.ymap .balloon > .balloon__pin {
    content: '';
    display: block;
    width: 40px;
    height: 50px;
    background: url(../images/pointer.png) center center no-repeat;
    position: absolute;
    left: 29px;
    bottom: -22px;
}

.ymap .balloon__title {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 500;
    color: #282828;
    margin-bottom: 10px;
}

.ymap .balloon__button a {
    color: #38b86f;
    font-weight: 500;
    text-decoration: none;
}

.ymap .balloon__button a:hover {
    color: #282828;
    text-decoration: underline;
}

.ymap ymaps[class$='-inner-panes'] {
    background: #c7d9e8;
}

.ymap [data-map-type="cities"] ymaps[class$='-inner-panes'] {
    background: #fff;
}

.ymap ymaps[class$='-ground-pane'] {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: .9;
}

.ymap [data-map-type="cities"] ymaps[class$='-ground-pane'] {
    opacity: 0;
}

.ymap ymaps[class$='-controls-pane'],
.ymap ymaps[class$='-copyrights-pane'] {
    display: none!important;
}

.ymap ymaps[class$='-balloon__content'] {
    font-family: 'Ubuntu', 'sans-serif';
    padding-left: 15px;
}

.ymap ymaps[class$='-balloon__content'] .bold {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.ymap ymaps[class$='-balloon__content'] .small {
    font-size: 14px;
    line-height: 16px;
}